@import '../../styles/_vars';
@import '../../styles/_mixins';



.recipes {
  .recipe {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;

    & + .idea {
      margin-top: 20px;
    }

    .recipeLink {
        @include link;
    }
  }

   
}
